.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 100vh;
	box-sizing: border-box;
	padding-top: 60pt;
	padding-bottom: 60pt;

	z-index: 10;

	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	transition-duration: 0.3s;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	
	&.position-top {
		justify-content: flex-start;
	}

	&.position-center {
		justify-content: center;
	}

	&.position-bottom {
		justify-content: flex-end;
	}

	.modal-title {
		margin: 0;
		font-size: 12pt;
		text-align: center;
		padding-top: 8pt;
		padding-bottom: 5pt;
		border-bottom: 1px solid #f7f7f7;
		color: #333;
	}

	.modal {
		position: relative;
		transition-duration: 0.5s;
		border: none;
		border-radius: 12pt;
		background: #fff;
		max-width: 500px;
		width: calc(100% - 32pt);
		box-sizing: border-box;
		overflow: hidden;

		border-top: 1px solid #fafafa;
		box-shadow: 0 4px 20px -4px #ddd;
	}

	&.open {
		display: flex;
		opacity: 1;
		z-index: 10000;
		
		.modal {
			transition-timing-function: cubic-bezier(0,1,0,1);
			transform: translateY(0vh);
		}
	}

	&.close {
		display: flex;
		opacity: 0;
		z-index: -1;
		
		.modal {
			transition-timing-function: cubic-bezier(1,0,1,0);
			transform: translateY(100vh);
		}
	}
}
