.create-task {
	position: fixed;
	width: 100%;
	bottom: 0%;
	left: 0;

	
	$pad: 16pt;
	padding: $pad;
	padding-bottom: unquote('max(#{$pad}, env(safe-area-inset-bottom))');
	box-sizing: border-box;

	&-input {
		background: transparent;
		width: 100%;
		border: none;
		padding: 16pt 32pt;
		box-sizing: border-box;
		font-size: 16pt;
		font-weight: bold;
		justify-content: center;
		outline: none;
		background: #ddd;
		border-radius: 15pt;
	}
}
