.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 1em;
	box-sizing: border-box;

	margin-bottom: 1em;

	h1 {
		margin: 0;
	}
}