$check-size: 16pt;

.list-item {
	list-style: none;
	background: #fff;

	border: 1px solid #fafafa;
	// box-shadow: 0px 6px 6px -6px #e5e5e5;
	
	// height: 3em;
	height: 36pt;
	padding-left: 11pt;
	margin-bottom: 5pt;
	border-radius: 10pt;

	display: flex;
	align-items: center;

	.list-item-check {
		box-sizing: border-box;
		background: transparent;
		height: $check-size;
		width: $check-size;
		min-width: $check-size;
		min-height: $check-size;
		margin-right: 12pt;
		border-radius: 4pt;
		border: 1px solid #f0f0f0;
		position: relative;

		&:before {
			content: " ";
			position: absolute;
			left: $check-size / 2 - 1px;
			top: $check-size / 2 - 1px;
			width: 2px;
			height: 2px;
			background: #fda;
			display: block;
			border-radius: 3pt;
			transition: width 0.2s, height 0.2s, top 0.2s, left 0.2s, opacity 0.1s;
			opacity: 0;
		}

	}

	.list-item-title {
		position: relative;

		&:before {
			content: " ";
			position: absolute;
			left: 0;
			top: 50%;
			width: 0%;
			height: 2px;
			background-color: #333;
			transition-duration: 0.3s;
		}
	}
}




@keyframes pop-unchecked {
	0% { transform: scale(1); }
	50% { transform: scale(0.98); }
	100% { transform: scale(1); }
}

@keyframes pop-checked {
	0% { transform: scale(1); }
	50% { transform: scale(0.98); }
	100% { transform: scale(1); }
}


.list-item-completed-active {
	transform-origin: center center;
	animation: pop-checked 0.3s cubic-bezier(.6, 3, .3, 1);

	.list-item-check {
		&:before {
			transition: width 0.2s, height 0.2s, top 0.2s, left 0.2s, opacity 0.3s;
			transition-timing-function: cubic-bezier(.6, 2, .3, 1);
			transition-delay: 0.12s;
			opacity: 1;
			left: 2px;
			top: 2px;
			width: $check-size - 6px;
			height: $check-size - 6px;
		}
	}

	.list-item-title:before {
		width: 100%;
	}
}

.list-item-completed {
	opacity: 0.5;

	.list-item-check {
		&:before {
			opacity: 1;
			left: 2px;
			top: 2px;
			width: $check-size - 6px;
			height: $check-size - 6px;
		}
	}

	.list-item-title:before {
		width: 100%;
	}
}



.list-item-uncompleted-active {
	transform-origin: center center;
	animation: pop-unchecked 0.3s cubic-bezier(.6, 3, .3, 1);
	
	.list-item-check {
		&:before {
			transition: width 0.2s, height 0.2s, top 0.2s, left 0.2s, opacity 0.3s;
			transition-timing-function: cubic-bezier(.6, 2, .3, 1);
			transition-delay: 0.12s;
			opacity: 0;
			left: $check-size / 2 - 1px;
			top: $check-size / 2 - 1px;
			width: 2px;
			height: 2px;
		}
	}
}
