.create-task {
	position: fixed;
	bottom: 0%;
	left: 0;

	width: 100%;

	display: flex;

	border-radius: 1em 1em 0px 0px;
	overflow: hidden;
	
	$pad: 1em;
	padding: 1em;
	padding-bottom: unquote('max(#{$pad}, env(safe-area-inset-bottom))');
	box-sizing: border-box;

	&-input {
		background: transparent;
		width: 100%;
		border: none;
		padding: 1em 2em;
		box-sizing: border-box;
		font-size: 1.2em;
		font-weight: bold;
		justify-content: center;
		outline: none;
		background: #ddd;
		border-radius: 1em;
	}
}


.inputter {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	z-index: 10;
	display: flex;
	justify-content: center;
	padding-top: 130px;
	align-items: flex-start;
	transition-duration: 0.3s;

	.inputter-input-wrapper {
		position: relative;
		transition-duration: 0.5s;
		// font-size: 24px;
		border: none;
		border-radius: 1.2em;
		box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.1);
		background: #fff;
		padding: 2px;
		box-sizing: border-box;

		input {
			font-size: 24px;
			padding: 1em 1.8em;
			border-radius: 1.2em;
			border: none;
			outline: none;
		}
	}

	&.entering {
		display: flex;
		opacity: 1;
		z-index: 10000;

		.inputter-input-wrapper {
			transition-timing-function: cubic-bezier(0, 1, 0, 1);
			margin-top: 0px;
			opacity: 1;
		}
	}

	&.entered {
		display: flex;
		opacity: 1;
		z-index: 10;

		.inputter-input-wrapper {
			margin-top: 0px;
			opacity: 1;
		}
	}

	&.exiting {
		display: flex;
		opacity: 0;

		.inputter-input-wrapper {
			transition-timing-function: cubic-bezier(0.6, 0, 0, 1);
			margin-top: 160px;
		}
	}

	&.exited {
		display: flex;
		z-index: -1;
		opacity: 0;

		.inputter-input-wrapper {
			margin-top: 160px;
			opacity: 0;
		}
	}
}

.inputter-autocomplete {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	top: calc(100% + 0.1em);
	border-radius: 1em;
	background: #fff;
	box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.1);
	padding: 4px 1em;
	box-sizing: border-box;
}

.inputter-autocomplete-item {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 1em;
	// border-radius: 1em;

	// &:before {
	// 	content: "+ ";
	// }

	&:last-child {
		border-bottom: none;
	}

	&:hover, &:active {
		background: rgba(0,0,0,0.04);
	}
}