.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 10;
	display: flex;
	justify-content: center;
	padding-top: 60pt;
	align-items: flex-start;
	transition-duration: 0.3s;

	.modal {
		position: relative;
		transition-duration: 0.5s;
		border: none;
		border-radius: 16pt;
		// padding-top: 3pt;
		background: #fff;
		max-width: 500px;
		width: calc(100% - 32pt);
		box-sizing: border-box;
		overflow: hidden;

		border-top: 1px solid #fafafa;
		box-shadow: 0 4px 20px -4px #ddd;
	}

	&.entering {
		display: flex;
		opacity: 1;
		z-index: 10000;

		.modal {
			transition-timing-function: cubic-bezier(0, 1, 0, 1);
			margin-top: 0px;
			opacity: 1;
		}
	}

	&.entered {
		display: flex;
		opacity: 1;
		z-index: 10;

		.modal {
			margin-top: 0px;
			opacity: 1;
		}
	}

	&.exiting {
		display: flex;
		opacity: 0;
		transition-delay: 0.2s;

		.modal {
			transition: opacity 0.2s, margin 0.4s;

			transition-timing-function: cubic-bezier(0.6, 0, 0, 1);
			margin-top: 160px;
			opacity: 0;
		}
	}

	&.exited {
		display: flex;
		z-index: -1;
		opacity: 0;

		.modal {
			margin-top: 160px;
			opacity: 0;
		}
	}

	&.initial {
		display: none;
	}
}
